*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    font-family: poppins,sans-serif;
    text-decoration: none;
}
body{
    overflow-x: hidden;
}
.head{
    width: 100%;
    height: 100%;
    min-height: 100vh;
}
.head1{
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    padding: 0 20px;
}
header{
    pad: 40px 0 30px;
    display: flex;
    justify-content:space-between;
    text-align: center;
    flex-wrap: wrap;
}
.logo{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.logo i{
    height: 45px;
    width: 45px;
    background-color: blue;
    border-radius: 50%;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 10px;
    margin-right: 5px;
    cursor: pointer;
    text-align: center;
}
.logo .logo-text{
    font-size: 24px;
    font-weight: 800;
    color:white;

}
nav .togglebtn{
    width: 36px;
    height: 36px;
    position: absolute;
    right: 3%;
    cursor: pointer;
    z-index: 5 ;
}
nav .togglebtn span{
    display: block;
    background-color: blue;
    margin: 5px ;
    width: 100%;
    height: 3px;
    transition: 0.3s;
    transition-property: transform,opacity;
}
nav .navlinks{
    list-style-type: none;
}
nav .navlinks li{
    display:inline-block;
}
nav .navlinks li a{
    color: white;
    margin-right: 2.5rem;
}
body{
    background-color: rgb(21, 20, 20);
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 80px;
}
.container .image{
    border-radius: 50%;
    overflow: hidden;
}
.image img{
    transition: 0.5s;
}
.hero-text{
    max-width: 500px;
    display: flex;
    flex-direction: column;
}
.image img:hover{
    transform: scale(1,2);
}