ul{
    display: flex;
    float: right;
    list-style: none;
    gap: 30px;
}
ul li a{
    text-decoration: none;
    color: black;
    font-size: large;
    font-weight: bold;
}
ul li a:hover{
    color: aqua;
}
/*.Home{
    align-items: center;
    justify-content: center;
}*/
.Home{
    align-items: center;
    justify-content:center;
}